{% extends "base_generic.html" %}

{% block title %}
<title> tinier library </title>
{% endblock %}

{% block content %}
<h1>Tiny Library Home</h1>
<p>Welcome to <em>Tiny Library</em>, a basic and tiny Django site, developed as a learning experience on MDN.</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
  <li><strong>Books: </strong>{{num_books}}</li>
  <li><strong>Copies: </strong>{{num_book_instances}}</li>
  <li><strong>Copies available: </strong>{{num_instances_available}}</li>
  <li><strong>Authors: </strong>{{num_authors}}</li>
  <li><strong>Books with title containing the word and: </strong>{{num_of_books_containing_the_word_and}}</li>
  <li><strong>Genres: </strong>{{num_genres}}</li>
</ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}